#!/bin/bash

# trap ctrl-c and call ctrl_c()
trap ctrl_c INT
function ctrl_c() {
    ./scripts/killall_launcher.sh
    exit 1
}

f=$(grep -Elr 'documentclass' src/* | cut -d':' -f1)
filelist=''
for file in $f
do
    file=${file##*/}
    file=${file%.*}
    filelist=$filelist' ./build/'$file'.pdf '
done

kile &
okular $filelist &
./scripts/make_launcher.sh

while true; do
    sleep 1
done
