#!/bin/bash



# trap ctrl-c and call ctrl_c()
trap ctrl_c INT
function ctrl_c() {
    `find . -type f -executable -name killall_launcher.sh -print`
    exit 1
}

if ! command -v inotifywait &> /dev/null
then
    echo "inotifywait could not be found."
    echo "Please run: sudo apt-get install inotify-tools"
    exit
fi


f=$(grep -Elr 'documentclass' `find $(SRCDIR) -name "*.tex"` | cut -d':' -f1)
filelist=''
for file in $f
do
    file=${file##*/}
    file=${file%.*}
    filelist=$filelist' ./build/'$file'.pdf '
done
echo "files to track are "$filelist

if [ $# -eq 0 ]; then
    make fast
    okular $filelist &
    `find . -type f -executable -name make_launcher.sh -print`
else
    make "$@"
    okular ./build/$@.pdf &
    `find . -type f -executable -name make_launcher.sh -print` $@
fi

code . &


while true; do
    sleep 1
done
